<section id="collections">
  <div class="container">
    <div class="c-1">
      <div class="c-1-image-holder">
        <img
          src="https://images.unsplash.com/photo-1542792194-9208ef5958c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
          alt="image"
        />
      </div>
    </div>
    <div class="c-2">
      <h2>featured</h2>
      <hr />
      <div class="c-2-image-holder">
        <img
          class="left"
          src="https://images.unsplash.com/photo-1610348725531-843dff563e2c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
          alt=""
        /><img
          class="right"
          src="https://images.unsplash.com/photo-1508913826512-066cf8127860?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
          alt=""
        />
      </div>
      <p class="button">view all collections</p>
    </div>
  </div>
</section>
