 <!-- headerEJS partials -->

<%- include("../partials/header") %>	
		<div id="header-hero">
			<div class="header-bg"> <img src="https://images.unsplash.com/photo-1582295528555-0997810211e6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" /> </div>
			<div class="header-content">
				<p class="heading-1">horticulture products</p>
				<h1>welcome to Kashmir<span class="logo-style">Fresh</span> marketplace</h1>
				<p class="description"> This marketplace deals with the horticulture insdustries and products. we ensure the best possible experience and products. We help to grow your business. </p>
				<div class="button">
					<p>explore</p>
				</div>
			</div>
		</div>
	</header>
	<section id="summer-collection">
		<div class="container">
			<div class="sc-content">
				<h1>fresh and finest quality</h1>
				<p class="description"> Proving best platform for sellers and buyers for horticulture based products and plant nurseries in kashmir .</p>
				<a href="#">discover now</a> </div>
			<div class="sc-media">
				<div class="sc-media-bg"> <img src="https://images.unsplash.com/photo-1550989460-0adf9ea622e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80" alt="sc-image" /> </div>
			</div>
		</div>
	</section>
	<section id="products">
		<div class="container">
			<div class="products-header">
				<h2>popular products</h2>
				<p>Best selling products and much more.</p>
			</div>
			<div class="product product-1">
				<figure> <img src="https://images.unsplash.com/photo-1576179635662-9d1983e97e1e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="product-image">
					<figcaption>Apples</figcaption>
					<figcaption>Rs. 84.00</figcaption>
				</figure>
			</div>
			<div class="product product-2">
				<figure> <img src="https://images.unsplash.com/photo-1615485737627-627006ab6920?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=376&q=80" alt="product-image">
					<figcaption>Almonds</figcaption>
					<figcaption>Rs. 200.00</figcaption>
				</figure>
			</div>
            <div class="product product-2">
				<figure> <img src="https://images.unsplash.com/photo-1596591606975-97ee5cef3a1e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmVycmllc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="product-image">
					<figcaption>berries</figcaption>
					<figcaption>Rs. 50</figcaption>
				</figure>
			</div>
            <div class="product product-2">
				<figure> <img src="https://images.unsplash.com/photo-1615485925873-7ecbbe90a866?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80" alt="product-image">
					<figcaption>Cashews</figcaption>
					<figcaption>Rs. 170.00</figcaption>
				</figure>
			</div>
            <div class="product product-2">
				<figure> <img src="https://images.unsplash.com/photo-1587334207639-d966843f9014?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80" alt="product-image">
					<figcaption>Walnuts</figcaption>
					<figcaption>rs. 200.00</figcaption>
				</figure>
			</div>
			<div class="product product-3">
				<figure> <img src="https://images.unsplash.com/photo-1517092975511-6c2757086077?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="product-image">
					<figcaption>Cherries</figcaption>
					<figcaption>Rs. 80.00</figcaption>
				</figure>
			</div>
			<div class="product product-4">
				<figure> <img src="https://images.unsplash.com/photo-1591796079433-7f41b45eb95c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=693&q=80" alt="product-image">
					<figcaption>Kiwi</figcaption>
					<figcaption>Rs. 50.00</figcaption>
				</figure>
			</div>
            <div class="product product-4">
				<figure> <img src="https://images.unsplash.com/photo-1512428813834-c702c7702b78?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="product-image">
					<figcaption>bonsai plant</figcaption>
					<figcaption>Rs. 90.00</figcaption>
				</figure>
			</div>
            <div class="product product-4">
				<figure> <img src="https://images.unsplash.com/photo-1599986937504-92aa9b0d2fac?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80" alt="product-image">
					<figcaption>Chillies</figcaption>
					<figcaption>Rs. 20.00</figcaption>
				</figure>
			</div>
            <div class="product product-4">
				<figure> <img src="https://images.unsplash.com/photo-1618164435705-fc09c4f9ece4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="product-image">
					<figcaption>Tomatoes</figcaption>
					<figcaption>Rs. 40.00</figcaption>
				</figure>
			</div>  
		</div>
	</section>

	<!-- collectionEJS partials -->
	<%- include("../partials/collection") %>

	<section id="blog">
		<div class="container">
			<div class="blog-header">
				<h2>latest from blog</h2>
				<p>.</p>
			</div>
			<div class="blog-content">
				<div class="blog-1">
					<div class="blog-1-image-holder"> <img src="https://images.unsplash.com/photo-1603749996359-b54fad816fce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="image"> </div>
					<div class="blog-1-content">
						<h4></h4>
						<h3> view.</h3>
						<p class="description">Horticulture is the most vibrant sector of the economy of Jammu and Kashmir State which constitutes about 45% of the share which agriculture sector contributes to GSDP</p>
						<p class="button">view post</p>
					</div>
				</div>
				<div class="blog-2">
					<div class="blog-2-image-holder"> <img src="https://images.unsplash.com/photo-1508857650881-64475119d798?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="image"> </div>
					<div class="blog-2-content">
						<h4></h4>
						<h3>blog</h3>
						<p class="description">posts description here.</p>
						<p class="button">view post</p>
					</div>
				</div>
                <div class="blog-2">
					<div class="blog-2-image-holder"> <img src="https://images.unsplash.com/photo-1622123398971-218bce806b45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80" alt="image"> </div>
					<div class="blog-2-content">
						<h4></h4>
						<h3>blog.</h3>
						<p class="description">description here.</p>
						<p class="button">view post</p>
					</div>
				</div>
			</div>
		</div>
	</section>

  <!-- footerEJS partials -->
	<%- include("../partials/footer") %>